<div class="card mt-4">
    <div class="card-body">

        <div class="page-aside-left">
            <div class="col-12">
                <h5 class="mt-0 mb-3">Onaylı Talepler</h5>
                <!-- start search box -->
                <div class="app-search">
                    <form>
                        <div class="mb-2 position-relative">
                            <input type="text" class="form-control" placeholder="Talep No Ara...">
                            <span class="mdi mdi-magnify search-icon"></span>
                        </div>
                    </form>
                </div>
                <!-- end search box -->

                <div class="row">
                    <div class="col">
                        <div data-simplebar="init" style="max-height: 535px;">
                            <div class="simplebar-wrapper" style="margin: 0px;">
                                <div class="simplebar-height-auto-observer-wrapper">
                                    <div class="simplebar-height-auto-observer"></div>
                                </div>
                                <div class="simplebar-mask">
                                    <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                                        <div class="simplebar-content-wrapper"
                                             style="height: auto; overflow: hidden scroll;">
                                            <div class="simplebar-content" style="padding: 0px;">
                                                <a href="javascript:void(Goster());" class="text-body">
                                                    <div class="d-flex mt-1 p-1">
                                                        <div class="avatar-sm d-table">
                                                            <span class="avatar-title bg-info-lighten rounded-circle text-info">
                                                                <i class="uil uil-mountains font-24"></i>
                                                            </span>
                                                        </div>
                                                        <div class="ms-2">
                                                            <h5 class="mt-0 mb-0">Çorum Gaz</h5>
                                                            <span class="badge badge-success-lighten ms-1">+ Teklif Var</span>
                                                            <p class="mb-0 text-muted font-12">Talep No: T02111452</p>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a href="javascript:void(Goster());" class="text-body">
                                                    <div class="d-flex mt-1 p-1">
                                                        <div class="avatar-sm d-table">
                                                            <span class="avatar-title bg-info-lighten rounded-circle text-info">
                                                                <i class="uil uil-mountains font-24"></i>
                                                            </span>
                                                        </div>
                                                        <div class="ms-2">
                                                            <h5 class="mt-0 mb-0">Ahlatcı Kuyumculuk</h5>
                                                            <span class="badge badge-warning-lighten ms-1"> Teklif Bekleniyor...</span>
                                                            <p class="mb-0 text-muted font-12">Talep No: T48752145</p>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a href="javascript:void(Goster());" class="text-body">
                                                    <div class="d-flex mt-1 p-1">
                                                        <div class="avatar-sm d-table">
                                                            <span class="avatar-title bg-info-lighten rounded-circle text-info">
                                                                <i class="uil uil-mountains font-24"></i>
                                                            </span>
                                                        </div>
                                                        <div class="ms-2">
                                                            <h5 class="mt-0 mb-0">
                                                                Çorum Gaz
                                                            </h5>
                                                            <span class="badge badge-success-lighten ms-1">+ Teklif Var</span>
                                                            <p class="mb-0 text-muted font-12">
                                                                Talep No: T58742698
                                                            </p>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a href="javascript:void(Goster());" class="text-body">
                                                    <div class="d-flex mt-1 p-1">
                                                        <div class="avatar-sm d-table">
                                                            <span class="avatar-title bg-info-lighten rounded-circle text-info">
                                                                <i class="uil uil-mountains font-24"></i>
                                                            </span>
                                                        </div>
                                                        <div class="ms-2">
                                                            <h5 class="mt-0 mb-0">
                                                                Metal Rafineri
                                                            </h5>
                                                            <span class="badge badge-success-lighten ms-1">+ Teklif Var</span>
                                                            <p class="mb-0 text-muted font-12">
                                                                Talep No: T02487569
                                                            </p>
                                                        </div>
                                                    </div>
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="simplebar-placeholder"
                                     style="width: 291px; height: 546px;"></div>
                            </div>
                            <div class="simplebar-track simplebar-horizontal"
                                 style="visibility: visible;">
                                <div class="simplebar-scrollbar" style="width: 0px; display: none;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-aside-right">
        </div>
    </div>
</div>


