@using SatinAlmaStokYonetim.Code;
<div class="card mt-4">
    <div class="card-body" style="background-color: #464f5b;">
        <div class="row">
            <div class="col-xl-3">
                <i class="mdi mdi-basket me-1"></i>
                <span>
                    <strong>Şirket:</strong>  @Repo.Session.CompanyName
                </span>
            </div>
            <div class="col-xl-5">
                <i class="mdi mdi-basket me-1"></i>
                <span>
                    <strong>Departman:</strong> @Repo.Session.DepartmentName
                </span>
            </div>
            <div class="col-xl-4">
                <button type="button" class="btn btn-success float-end btn-sm me-2"
                        data-bs-toggle="modal" data-bs-target="#addProductModal">
                    <i class="mdi dripicons-plus me-1"></i>
                    <span>
                        Ürün Ekle
                    </span>
                </button>
            </div><!-- end col-->
        </div>
    </div>
</div>

<div class="card mt-1">
    <div class="card-body">
        <div class="row">
            <table class="table table-centered mb-0">
                <thead>
                    <tr>
                        <th>Ürün Resmi</th>
                        <th>Ürün Adı</th>
                        <th>Miktar/Birim</th>
                        <th>Adet</th>
                        <th>İşlem</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="justify-content-center">
                            <img src="/assets/images/products/cay.png" alt="product-img" title="product-img"
                                 class="rounded me-2" height="32">
                        </td>
                        <td>Çay</td>
                        <td>
                            <div class="input-group input-group-sm" style="width:130px;">
                                <input type="number" value="5" id="" class="form-control form-control-sm" onchange="" min="0"
                                       placeholder="0" style="width: 30px;">
                                <label class="input-group-text input-group-text-sm">Kg</label>
                            </div>
                        </td>
                        <td>
                            <input type="number" value="20" onchange="" min="1" class="form-control form-control-sm"
                                   placeholder="0" style="width: 80px;">
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-primary btn-sm">
                                <i class="dripicons-trash"></i><span class="ms-1">Sil</span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="justify-content-center">
                            <img src="/assets/images/products/kahve.png" alt="product-img" title="product-img"
                                 class="rounded me-2" height="32">
                        </td>
                        <td>Kahve</td>
                        <td>
                            <div class="input-group input-group-sm" style="width:130px;">
                                <input type="number" id="" class="form-control form-control-sm" onchange="" min="0"
                                       value="0.5" placeholder="0" style="width: 30px;">
                                <label class="input-group-text input-group-text-sm">Kg</label>
                            </div>
                        </td>
                        <td>
                            <input type="number" value="15" id="" onchange="" min="1" class="form-control form-control-sm"
                                   placeholder="0" style="width: 80px;">
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-primary btn-sm">
                                <i class="dripicons-trash"></i><span class="ms-1">Sil</span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="justify-content-center">
                            <img src="/assets/images/products/su.png" alt="product-img" title="product-img"
                                 class="rounded me-2" height="32">
                        </td>
                        <td>Su</td>
                        <td>
                            <div class="input-group input-group-sm" style="width:130px;">
                                <input type="number" id="" class="form-control form-control-sm" onchange="" min="0"
                                       value="1" placeholder="0" style="width: 30px;">
                                <label class="input-group-text input-group-text-sm">Litre</label>
                            </div>
                        </td>
                        <td>
                            <input type="number" value="70" id="" onchange="" min="1" class="form-control form-control-sm"
                                   placeholder="0" style="width: 80px;">
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-primary btn-sm">
                                <i class="dripicons-trash"></i><span class="ms-1">Sil</span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-sm btn-primary float-end" data-bs-toggle="modal"
                data-bs-target="#createRequestModal">
            <i class="mdi dripicons-to-do me-1"></i>Talep
            Oluştur
        </button>
    </div>
    <!-- Ürün Ekleme modal Start -->
    <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myLargeModalLabel">Ürün Ekle</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-hidden="true"></button>
                </div>
                <div class="modal-body">

                    <div class="row pb-2 justify-content-center">
                        <img src="assets/images/null.png" id="productImage" class="img-fluid"
                             style="width:180px; height:140px;" alt="Product-img">
                    </div>
                    <div class="col-auto pt-3">
                        <div class="d-flex align-items-center px-2">
                            <label class="me-2" style="width:70px;">Kategori</label>
                            <select class="form-select" id="categoriyOption" onChange="CategoryChange()"
                                    style="min-width:180px;">
                            </select>
                        </div>
                    </div>
                    <div class="col-auto pt-2 pb-4">
                        <div class="d-flex align-items-center px-2">
                            <label class="me-2" style="width:70px;">Ürünler</label>
                            <select class="form-select" id="productOption" onChange="ProductChange()"
                                    style="min-width:180px;">
                                <option selected="">Ürünü Seç...</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-light"
                            data-bs-dismiss="modal">
                        Vazgeç
                    </button>
                    <button type="button" class="btn btn-sm btn-primary" id="addProductButton"
                            onclick="AddProduct()" disabled>
                        Ürünü Ekle
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal End -->
    <!-- Onay modal Start -->
    <div class="modal fade" id="createRequestModal" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myLargeModalLabel">Talep Onayla</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-hidden="true"></button>
                </div>
                <div class="modal-body">
                    <table class="table table-hover table-centered mt-0">
                        <thead>
                            <tr>
                                <th>Ürün</th>
                                <th>Miktar/Birim</th>
                                <th>Adet</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Çay</td>
                                <td>5 Kg</td>
                                <td><span class="badge bg-primary">20</span></td>
                            </tr>
                            <tr>
                                <td>Kahve</td>
                                <td>0,5 Kg</td>
                                <td><span class="badge bg-primary">15</span></td>
                            </tr>
                            <tr>
                                <td>Su</td>
                                <td>1 Litre</td>
                                <td><span class="badge bg-primary">70</span></td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="divRequestList"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-light"
                            data-bs-dismiss="modal">
                        Vazgeç
                    </button>
                    <button type="button" class="btn  btn-sm btn-primary" id="createRequestButton"
                            onclick="createRequest()">
                        Oluştur
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal End -->
</div>