<div class=" card " style="min-height: 450px;">
    <div class="card-body">
        <div class="page-aside-left">
            <div class="col-12">
                <h5 class="mt-0 mb-3">Talep Listesi</h5>
                <!-- start search box -->
                <div class="app-search">
                    <form>
                        <div class="mb-2 position-relative">
                            <input type="text" class="form-control" id="searchRequest" placeholder="Talep No Ara...">
                            <span class="mdi mdi-magnify search-icon"></span>
                        </div>
                    </form>
                </div>
                <!-- end search box -->

                <div data-simplebar style="max-height: 350px;">
                    <div id="divRequests"></div>
                </div>
            </div>
        </div>
        <div class="page-aside-right">
            <div class="row">
                <div class="col-5">
                    <div id="infoRequestNo"></div>
                </div>
            </div>
            <hr class="mt-1" />
            <div class="mt-4" id="divBasketDetail"></div>

        </div>
    </div>
</div>



<script src="~/js/request/approveRequest.js"></script>
