<div class="card">
    <div class="card-body">
        <ul class="nav nav-tabs mb-3">
            <li class="nav-item">
                <a href="#list" data-bs-toggle="tab" aria-expanded="false" class="nav-link">
                    <i class="mdi mdi-home-variant d-md-none d-block"></i>
                    <span class="d-none d-md-block">Liste</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#process" data-bs-toggle="tab" aria-expanded="true" class="nav-link active">
                    <i class="mdi mdi-account-circle d-md-none d-block"></i>
                    <span class="d-none d-md-block">İşlemler</span>
                </a>
            </li>
        </ul>
        <div class="app-search">
            <form>
                <div class="mb-2 position-relative">
                    <input type="text" class="form-control" id="searchRequest" autocomplete="off" placeholder="Stok No Ara...">
                    <span class="mdi mdi-magnify search-icon"></span>
                </div>
            </form>
        </div>
        <div class="tab-content">
            <div class="tab-pane" id="list">
                <div class="row">
                    <h4 class="header-title" style="color: rgb(187, 88, 88);">Talep Listesi</h4>
                    <table class="table table-sm table-centered mb-0">
                        <thead>
                            <tr>
                                <th>Ürün</th>
                                <th>Birim Fiyat</th>
                                <th>Adet</th>
                                <th>Tutar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>ASOS Ridley High Waist</td>
                                <td>$79.49</td>
                                <td><span class="badge bg-primary">82 Pcs</span></td>
                                <td>$6,518.18</td>
                            </tr>
                            <tr>
                                <td>Marco Lightweight Shirt</td>
                                <td>$128.50</td>
                                <td><span class="badge bg-primary">37 Pcs</span></td>
                                <td>$4,754.50</td>
                            </tr>
                            <tr>
                                <td>Half Sleeve Shirt</td>
                                <td>$39.99</td>
                                <td><span class="badge bg-primary">64 Pcs</span></td>
                                <td>$2,559.36</td>
                            </tr>
                            <tr>
                                <td>Lightweight Jacket</td>
                                <td>$20.00</td>
                                <td><span class="badge bg-primary">184 Pcs</span></td>
                                <td>$3,680.00</td>
                            </tr>
                            <tr>
                                <td>Marco Shoes</td>
                                <td>$28.49</td>
                                <td><span class="badge bg-primary">69 Pcs</span></td>
                                <td>$1,965.81</td>
                            </tr>
                            <tr>
                                <td>ASOS Ridley High Waist</td>
                                <td>$79.49</td>
                                <td><span class="badge bg-primary">82 Pcs</span></td>
                                <td>$6,518.18</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane show active" id="process">
                <p>...</p>
            </div>
        </div>
    </div>
</div>
