<div class="card border-light border">
    <h6 class="card-header"><i b-eruwahco1m="" class=" uil-building me-1"></i>Departman İşlemleri</h6>
    <div class="card-body">
        <div class="row mb-2">
            <div class="col-sm-4">
                <button class="btn btn-success mb-2" data-bs-toggle="modal" data-bs-target="#addDepartmentModal"><i class="mdi mdi-plus-circle me-2"></i> Departman Ekle</button>
            </div>
            <div class="col-sm-8">
            </div>
        </div>
        <hr />
        <div class="table-responsive">
            <table class="table table-bordered w-100 dt-responsive nowrap" id="customDatatable">
                <thead>
                    <tr>
                        <th>Sıra</th>
                        <th>Şirket İsmi</th>
                        <th>Telefon</th>
                        <th>Birim</th>
                        <th>Adet</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>ASOS Ridley High Waist</td>
                        <td>$79.49</td>
                        <td><span class="badge bg-primary">82 Pcs</span></td>
                        <td>$6,518.18</td>
                        <td><span class="badge bg-primary">82 Pcs</span></td>
                        <td>$6,518.18</td>
                    </tr>
                    <tr>
                        <td>ASOS Ridley High Waist</td>
                        <td>$79.49</td>
                        <td><span class="badge bg-primary">82 Pcs</span></td>
                        <td>$6,518.18</td>
                        <td><span class="badge bg-primary">82 Pcs</span></td>
                        <td>$6,518.18</td>
                    </tr>
                    <tr>
                        <td>ASOS Ridley High Waist</td>
                        <td>$79.49</td>
                        <td><span class="badge bg-primary">82 Pcs</span></td>
                        <td>$6,518.18</td>
                        <td><span class="badge bg-primary">82 Pcs</span></td>
                        <td>$6,518.18</td>
                    </tr>
                    <tr>
                        <td>ASOS Ridley High Waist</td>
                        <td>$79.49</td>
                        <td><span class="badge bg-primary">82 Pcs</span></td>
                        <td>$6,518.18</td>
                        <td><span class="badge bg-primary">82 Pcs</span></td>
                        <td>$6,518.18</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="modal fade" id="addDepartmentModal" tabindex="-1" role="dialog"
     aria-labelledby="addDepartmentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addDepartmentModalLabel">Departman Bilgileri</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-hidden="true"></button>
            </div>
            <div class="modal-body">
                <div id="offerDetail" class="col-auto">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-primary"
                        data-bs-dismiss="modal">
                    Kapat
                </button>
            </div>
        </div>
    </div>
</div>
